@import "../variables";

.search-input {
  padding: 0 0.5rem 0 0.5rem;
  
  height: 6%;
}

.page-content {
  height: 94%;
}

.data-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left-panel {
  flex: 1 1 30%;
  overflow-y: auto;
}

.right-panel {
  flex-basis: 70%;
  overflow-y: auto;
}

@media screen and (max-width: $breakpoints-sm) {
  .search-input {
    padding: 0 0.5rem 0 0.5rem;
    
    height: 10%;
  }

  .page-content {
    height: 90%;
  }
  
  .data-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .left-panel {
    flex: 1 1 35%;
    overflow-y: auto;
    margin-bottom: 1rem;
  }

  .right-panel {
    flex-basis: 65%;
    overflow-y: auto;
  }
}