// Fixed colors
$color_grey_dark: #787878;
$color_grey_light: #c9cacc;
$color_grey: #bbb;
$color_blue: #349de3;
$color-blue-light: #74b1d4;
$color_green: #19cf5e;
$color_red: #df4040;
$color_orange: #faa928;
$color_yellow: #ffde00;
$color_purple: #620c5f;
$color_magenta: #944292;
$color_orchid: #bc8ebe;
$color_amethyst: #8562a7;

$color-disabled: #ddd;
