@import "variables";

html {
  font-size: 16px;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

header {
  background-color: $color_blue;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;

  .question {
    display: flex;
    cursor: pointer;
    div {
      margin-right: 1rem;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.app {
  height: 100%;
  flex-grow: 1;

  .page {
    padding: 1rem;
    font-size: 0.8rem;
    height: 100%;
  }
}


